{{!< layout}}
<div class="centered">
    <div class="aui-group">
        <img src="images/Octocat.jpg" alt="Octocat" width="300px">
        <br>
        <h2>Source control and code management</h2>
    </div>
    <div class="aui-group">
        <div class="aui-item">
            <a ng-click="login('{{signed_request}}')" class="aui-button aui-button-primary ">Authenticate with GitHub</a>
        </div>
    </div>

</div>
