{{!< layout}}
<div class="centered">
    <div class="aui-group">
        <img src="images/Octocat.jpg" alt="Octocat" width="300px">
        <br>
        <h2>Source control and code management</h2>
    </div>
    <div class="aui-group">
        <div class="aui-item">
            <a href="javascript:poptastic('https://github.hipch.at/auth/github?signed_request={{signed_request}}')" class="aui-button aui-button-primary " target="_blank">Authenticate with GitHub</a>
        </div>
    </div>

</div>
