/* add-on styles */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}
.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}
body {
    background-color: transparent;
}
.centered {
    text-align: center;
}
.aui-lozenge {
  margin-right:2px;
  text-transform: none;
}
span.repo-loz {
  cursor: pointer !important;
}
.no-top-margin {
  margin-top:5px;
}
table.aui .right {
  text-align:right;
}
.aui-group>.aui-item.repo-add-sec {
  text-align:right;
  vertical-align: bottom;
}
.addon .aui-group {
  margin-top:0;
}
.addon .centered {
  text-align: center;
}
.addon tr.repo-config {
  background-color:#eee;
}
.addon .relative {
  position:relative;
}
.addon .collapse-config {
  position:absolute;
  top:-4px;
  right:0;
}
.addon .toolcol {
  width:90px;
  min-width:90px;
}
.addon .repo-descr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 495px;
}